
 body {
    background-color: aquamarine;
    text-align: center;
 }

 textarea{
    text-align: left;
    background-color: beige;
    pointer-events: none;


 }
header{
    background-color: rgb(101, 239, 239);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: rgb(102, 0, 197);
 
}


nav{
    background:none;
    height: 50px;
    text-align: center;
    
   
}
